<div class="booyah-box col-8 offset-2">
    
    <h1>New Contact</h1>
    <%= simple_form_for @contact do |f| %>
        <%= f.input( :name) %>
        <%= f.input( :address) %>
        <%= f.input( :subject) %>
        <%= f.input( :message) %>
        <%= f.submit 'Submit' %>
        <% end %>
</div>