<div class="booyah-box col-8 offset-2 dark-box">
    
    <h1>New Contact</h1>
    <%= simple_form_for @contact do |f| %>
        <%= f.input( :name) %>
        <%= f.input( :email) %>
        <%= f.input( :subject) %>
        <%= f.input( :message) %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
</div>